/* app1.css */

body {
	font-family: sans-serif;
}

/* NAV */
nav ul {
	margin: 0;
	padding: 1em 0;
}

nav ul li {
	display: inline-block;
	margin: 0;
	padding: 0 0 0 0;
}

nav ul li a, nav ul li a:visited {
	text-decoration: none;
	padding: 0.5em;
	color: #428bca;
	background-color: #ddd;
	border: 1px solid #ddd;
}

nav ul li a:hover {
	background-color: #428bca;
	border: 1px solid #428bca;
	color: #fff;
}

nav ul li.active a {
	color: #666;
	background-color: #fff;
	border: 1px solid #666;
	text-decoration: none;
}
/* @end NAV */